* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url("/images/bg-desktop.svg"), hsl(257, 40%, 49%);
  background-repeat: no-repeat;
  color: #fff;
}

h1 {
  font-family: "Poppins", sans-serif;
}

p {
  font-family: "Open Sans", sans-serif;
}

header {
  width: 90%;
  margin-top: 70px;
  margin-left: 70px;
}

header img {
  width: 15%;
  height: auto;
}

.grid-container {
  width: 90%;
  display: flex;
  flex-direction: row;
  margin-top: 75px;
  margin-left: 70px;
}

.mockup-img {
  max-width: 100%;
  height: auto;
}

.about-register {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
  margin-left: 50px;
}

.about-register h1 {
  font-size: 40px;
  margin-top: 5px;
}

.about-register p {
  line-height: 1.6em;
  font-size: 19px;
  margin-top: 20px;
}

button {
  background-color: #fff;
  color: hsl(257, 40%, 49%);
  padding: 15px 20px;
  width: 40%;
  border-radius: 30px;
  border: none;
  margin-top: 25px;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button:active {
  color: #fff;
  background-color: hsl(300, 69%, 71%);
}

footer {
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

footer ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: flex-end;
  padding-right: 70px;
}

footer li {
  padding: 5px 8px;
}

i:active {
  color: magenta;
  border: 2px solid magenta;
}

i {
  padding: 10px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
}

@media only screen and (max-width: 750px) {
  * {
    box-sizing: border-box;
  }

  body {
    background: url("/images/bg-mobile.svg"), hsl(257, 40%, 49%);
    background-repeat: no-repeat;
    background-size: contain;
  }

  h1 {
    font-family: "Poppins", sans-serif;
  }

  p {
    font-family: "Open Sans", sans-serif;
  }

  header {
    width: 80vw;
    height: auto;
  }

  header img {
    height: auto;
    width: auto;
  }

  .grid-container {
    width: 80vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
  }

  .mockup-img {
    max-width: 100%;
    height: auto;
    margin-top: 50px;
    margin-left: 20px;
  }

  .about-register {
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .about-register h1 {
    width: 70vw;
    margin: 25px auto auto auto;
  }

  .about-register p {
    width: 60vw;
    margin: 25px auto auto auto;
    font-size: 24px;
  }

  button {
    background-color: #fff;
    color: hsl(257, 40%, 49%);
    margin: 55px auto auto auto;
    padding: 15px 20px;
    width: 50vw;
    border-radius: 30px;
    border: none;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  footer {
    width: 90vw;
    margin: auto;
  }

  footer ul {
    width: 90vw;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
  }

  footer li {
    padding: 5px 8px;
  }

  .attribution {
    display: none;
  }
}
